
.article {
  color: #694640;
  background-color: #fbf7e5;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 20px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.article img {
  width: 100%;
}

.title {
  font-weight: 600;
  font-size: 1.3rem;
}

/* @media screen and (min-width: 768px) {
  .article {
    flex-direction: row;
    max-width: unset;
    gap: 15px;
  }
  img {
    max-width: 300px;
  }
} */
